
.container{
    margin-top: 15px !important;
}

.bold{
    font-family: genovaBlack;
    font-size: 18px;
    color: #2978B5;
}

@media screen and (max-width: 992px) {
    .riga{
        display: none;
    }
    .paragrafo{
        justify-content: center;
        text-align: center;
        font-family: genovaThin;
        width: 100%;
    }
  }

@media screen and (min-width: 992px) {
    
    .riga{
        margin-top: 10px !important;
       border-top: 3px solid #2978B5;
    }

    .paragrafo{
        justify-content: center;
        text-align: center;
        font-family: genovaThin;
        font-size: 18px;
        color: #fefefe;
    }

  }