<div class="container">
 <div class="row">
    <div class="col-1 riga">
    </div>
    <div class="col-10 paragrafo">
        Ciao, sono Gabriel Colla, attualmente svolgo la funzione di <b class="bold">SOFTWARE ENGINEER</b> presso l’azienda NTT DATA, in passato ho fatto lo    
sviluppatore full-stack. Ho sempre amato l’ambito IT e Web3, al punto da studiare da autodidatta qualsiasi linguaggio mi passasse per le 
mani ed aver assemblato con le mie mani più di 30 PC fissi custom built. Questo è il mio piccolo angolo, dove si possono racimolare più 
informazioni su di me e visionare alcuni dei progetti che ho fatto per passatempo/allenamento.
    </div>
    <div class="col-1 riga">
    </div>
 </div>
</div>
