<div class="container">
    <p class="text-center headline textdarktheme"> Soft Skills</p>
    <div class="row">
        <div class="col-md-3 contCircles"><div class="circle-with-text">Problem Solving</div></div>
        <div class="col-md-3 contCircles"><div class="circle-with-text">Pensiero Critico</div></div>
        <div class="col-md-3 contCircles"><div class="circle-with-text">Teamwork</div></div>
        <div class="col-md-3 contCircles"><div class="circle-with-text">Leadership</div></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 contCircles"><div class="circle-with-text">Creatività</div></div>
        <div class="col-md-3 contCircles"><div class="circle-with-text">Motivazione</div></div>
        <div class="col-md-3 contCircles"><div class="circle-with-text">Autodisciplina</div></div>
        <div class="col-md-3 contCircles"><div class="circle-with-text">Dedizione</div></div>
    </div>
</div>

