.headline{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size:24px;
}


.circle-with-text {
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    margin: 5px 20px;
    font-size: 20px;
    padding: 15px;
    display: flex;
    height: 150px;
    width: 150px;
    color: #fff;
    
  }

  .contCircles{
    display: flex;
  align-items: center;
  justify-content: center;
  }

  .circle-with-text:hover {
    color: #00f7ff;
    border: 1px solid #00f7ff;
    text-shadow: 0 0 15px #00f7ff;
    transition: all 0.5s ease;
  }