<div class="container">
    <p class="text-center headline textdarktheme"> Soft Skills</p>
    <div class="row">
        <div class="col-md-3 col-xs-6 contCircles"><div class="circle-with-text animate splat delay-1">Problem Solving</div></div>
        <div class="col-md-3 col-xs-6 contCircles"><div class="circle-with-text animate splat delay-1">Pensiero Critico</div></div>
        <div class="col-md-3 col-xs-6 contCircles"><div class="circle-with-text animate splat delay-1">Teamwork</div></div>
        <div class="col-md-3 col-xs-6 contCircles"><div class="circle-with-text animate splat delay-1">Leadership</div></div>
        <div class="clearfix visible-xs-block"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 contCircles"><div class="circle-with-text animate splat delay-1">Creatività</div></div>
        <div class="col-md-3 contCircles"><div class="circle-with-text animate splat delay-1">Motivazione</div></div>
        <div class="col-md-3 contCircles"><div class="circle-with-text animate splat delay-1">Autodisciplina</div></div>
        <div class="col-md-3 contCircles"><div class="circle-with-text animate splat delay-1">Dedizione</div></div>
    </div>
</div>

