<div class="container">
    <p class="text-center headline textdarktheme"> Contatti</p>

    <div class="iconscontainer">

            <div class="colicon animated">
              <a href="https://www.linkedin.com/in/gabriel-colla-11296b1b3/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
            </div>
            <div class="colicon animated">
              <a href="mailto: colla.gabriel01@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
            </div>
              <div class="colicon animated">
              <a href="https://github.com/erGaBs"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
            </div>


    </div>

</div>

