.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #a7a7a7;
    font-size: 16px;
  }

.textdark{
  color:white;
}

.footerdark{
    background-image: linear-gradient(#1D1D1D, #1D1D1D  );
}

.footerlight{
    background-image: linear-gradient(white , black  );
}

  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }


.contattifoot{
  margin-left: 70px;
  text-align: left;
}
.darkh1{
  color:white;
}

.row{
  margin-top: 10px;
}

a{
  text-decoration: none;
}

a p:hover{
  color:#2272FF;
}

.contacts{
  color:#2272FF;
}
