.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #a7a7a7;
    font-size: 16px;
  }

.footerdark{
    background-image: linear-gradient(#090830, #1F1E5D  );
}

.footerlight{
    background-image: linear-gradient(white , black  );
}

  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }

.darkh1{
  color:white;
}

.row{
  margin-top: 10px;
}
