<hr style="height:2px;border-width:0;color:#CFE8FF;background-color:#CFE8FF;margin-left:60px;margin-right: 60px;">
<div class="container-fluid footerdark">
 <div class="row">
    <div class="col-md-6">
        <h1 class="darkh1 text-center">Links</h1>
         <a routerLink=""><p class="text-center textdark">Home</p></a>
         <a routerLink="aboutme"><p class="text-center textdark">Su di me</p></a>
         <a routerLink="progetti"><p class="text-center textdark">Progetti</p></a>
         <a href="..\..\..\..\assets\files\GABRIELCOLLACurriculumVitae.pdf" download="CV Gabriel Colla"><p class="text-center textdark">CV</p></a>
    </div> 
    <div class="col-md-6 text-center">
        <h1 class="darkh1">Contatti</h1>
        <div class="contattifoot">
         <p class=" textdark">Email: <a class="contacts" href="mailto: colla.gabriel01@gmail.com">colla.gabriel01@gmail.com</a></p>
         <p class="textdark">LinkedIn: <a class="contacts" href="https://www.linkedin.com/in/gabriel-colla-11296b1b3/">https://www.linkedin.com/in/gabriel-colla-11296b1b3/</a> </p>
         <p class="textdark">Github: <a class="contacts" href="https://github.com/erGaBs">https://github.com/erGaBs</a></p>
        </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <p  class=" textdark">Created by Gabriel Colla. © 2023 All Rights Reserved</p>
    </div>
  </div>
</div>