<header class="header headerdark">
    <nav>
      <div class="logo">
        <div id="imgtheme">
          <img class="icontheme" (click)="changeTheme()" src="../../../../assets/images/lightthemeicon.png">
        </div>
        <a href="index.html">Gabriel's<span>Portfolio</span></a>
      </div>
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" class="menu-icon">&#9776;</label>
      <ul class="menu">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="aboutme">Su di me</a></li>
        <li><a routerLink="progetti">Progetti</a></li>
        <li><a href="..\..\..\..\assets\files\GABRIELCOLLACurriculumVitae.pdf" download="CV Gabriel Colla">CV</a></li>
      </ul>
    </nav>
  </header>
  <p-toast></p-toast>
  