

 
    li {
      display: flex !important;
      flex-basis: auto;
      justify-content: space-around !important;
      flex: 1;
    }

    ul{
      width: 100%;
    }

  


  nav{
      background-color: #3b3c3a !important;
      box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
  }

  .navbar-toggler:focus{
    box-shadow: none;
  }

 .nav-link:hover{
  cursor: pointer;
 }

 .navbar-toggler{
  margin: auto !important;
 }


 a{
    font-family: genovaThin;
    font-size: 18px;
    color: #fefefe;
 }

 .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,254, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.custom-toggler.navbar-toggler {
  border: 0px;
} 

::ng-deep .cont{
  width: 100% !important;
}







@media screen and (min-width: 992px) {
  .lingua{
    justify-content: flex-end !important;
  }
}

