

div{
    height:auto;
    width: 80%;
    margin: auto !important;
}

.progetti{
    margin-top: 20px !important;
    font-family: genovaBlack;
    font-size: 4vw;
    color: #fefefe;
}

@media screen and (max-width: 992px) {
    .progetti{
        font-family: genovaBlack;
        font-size: 6vw;
    }
  }