<!--Carosello e intestazione-->
<div class="row">
    <div class="col-md-6 textlight size">
        <p>Ciao sono Gabriel Colla <br><br>
        <b>Software Engineer</b></p>
    </div>
    <div class="col-md-6 textlight">
        <app-carousel></app-carousel>
    </div>
</div>
<!--Chi sono-->
<div class="row">
    <div class="col-md-12">
        <app-chi-sono></app-chi-sono>
    </div>
</div>
<!--Contatti-->
<div class="row">
    <div class="col-md-12">
        <app-contatti></app-contatti>
    </div>
</div>
<!--Soft Skills-->
<div class="row">
    <div class="col-md-12">
        <app-soft-skills></app-soft-skills>
    </div>
</div>
<!--Hard Skills-->
<div class="row">
    <div class="col-md-12">
        <app-hard-skills></app-hard-skills>
    </div>
</div>


