@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body{
    margin:0px;
    padding:0px;
}

.darkthemebody{
    background-color: #1D1D1D ;
}

.lightthemebody{
    background-color: white ;
}

html, body { height: 100%; }


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.textdarktheme{
    color:white;
}

.textlighttheme{
    color:black;
}

