<div class="container">
    <p class="text-center headline textdarktheme"> Chi sono</p>
<p class="text-center paragraph textdarktheme">Ciao, sono Gabriel Colla, attualmente svolgo la funzione di Software Engineer presso l'azienda NTT DATA, in passato ho fatto lo sviluppatore full-stack. Ho sempre amato l'ambito IT e Web3, al punto da studiare da autodidatta qualsiasi linguaggio mi passasse per le mani ed aver assemblato con le mie mani più di 30 PC fissi custom built. Questo è il mio piccolo angolo, dove si possono racimolare più informazioni su di me e visionare alcuni dei progetti che ho fatto per passatempo/allenamento.</p>
</div>
