.container{
    margin-top: 15px !important;
}

.hardskills{
    font-family: genovaBlack;
    font-size: 2vw;
    color: #fefefe;
    text-align: center;
    margin-bottom: 10px !important;
}

@media screen and (max-width: 992px) {
    .hardskills{
        font-family: genovaBlack;
        font-size: 4vw;
    }
  }

  .items{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
}


.item {
    flex: 25%;
    max-width: 20%;
    min-height: 20%;
    margin-bottom: 30px !important;
    text-align: center;
}


@media (max-width: 800px) {
    .item {
        position: relative;
        margin-bottom: 30px !important;
        flex: 50%;
        max-width: 43%;
        text-align: center;
    }
}


