<div class="container">
    <p class="hardskills">HARD SKILLS</p>
   </div>

<section id="hard-skills" class="hard-skills-section">

  <div class="progress-grid">
    <div class="progress-block">
      <div class="skill-label">Sviluppo Front-End</div>
      <div class="progress-bar"><div class="fill" data-percent="100"></div></div>
    </div>

    <div class="progress-block">
      <div class="skill-label">Linguaggi ad oggetti</div>
      <div class="progress-bar"><div class="fill" data-percent="95"></div></div>
    </div>

    <div class="progress-block">
      <div class="skill-label">Database</div>
      <div class="progress-bar"><div class="fill" data-percent="80"></div></div>
    </div>

    <div class="progress-block">
      <div class="skill-label">Gestione Progettuale</div>
      <div class="progress-bar"><div class="fill" data-percent="85"></div></div>
    </div>
  </div>
</section>


