<div class="container">
    <p class="hardskills">HARD SKILLS</p>
    <div class="items mt-4">
        <div class="item">
            <p class="subject">Sviluppo Web</p>
            <div class="progressbar">
                <div class="progress1"></div>
            </div>
        </div>
        <div class="item">
            <p class="subject">Object Oriented Languages</p>
            <div class="progressbar">
                <div class="progress2"></div>
            </div>
        </div>
        <div class="item">
            <p class="subject">Database</p>
            <div class="progressbar">
                <div class="progress3"></div>
            </div>
        </div>
        <div class="item">
            <p class="subject">Analisi di progetto</p>
            <div class="progressbar">
                <div class="progress4"></div>
            </div>
        </div>
    </div>
   </div>

