#presentazione{
    height:auto;
    margin-top: 130px !important;
}

#titlecard{
    position: relative;
    width: 45rem;
    height: 300px;
    border-radius: 20px;
    margin: auto !important;
    background: linear-gradient(90deg, rgb(31, 31, 30) 0%, rgb(59, 60, 58) 100%);
}

#intro{
    border-radius: 20px;
    position: absolute;
    height: 100%;
    width: 70%;
 }
 #imgcontacts{
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 45%;
    z-index: 1;

 }

 #contacts{
    bottom: 0;
    right: 0;
    position: absolute;
    height: 80%;
    width: 50px;
    z-index: 2;
    
 }

 img{
   position: absolute;
   bottom: 0;
   width: 100%;
}

#nome{
  letter-spacing: 3px;
  margin-top: 35px !important;
  font-size: 45px;
  margin-left: 30px !important;
  font-family: genovaBlackItalic;
  font-weight: 800;
  color: #2978B5;
}

#titolo{
  margin-top: 20px !important;
  margin-left: 30px !important;
  font-family: genovaThin;
  font-weight: 0;
  font-size: 20px;
}

#bottone{
  margin-left: 30px !important;
  margin-top: 40px !important;
}

#contactme{
  color: #fefefe;
  padding: 5px;
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-family: genovaThin;
  border: 1px solid #fefefe;
  background: transparent;
  border-radius: 20px !important;
}

#linea{
   height: 40%;
   width: 3px;
   background-color: #2978B5;
   display: flex;
   margin: auto !important;
}

#git{
   display: flex;
   justify-content: center !important;
   margin-top: 7px !important;
}

#git:hover{
   cursor: pointer;
   color: #2978B5;
}

#mail{
   display: flex;
   justify-content: center !important;
   margin-top: 7px !important;
}

#mail:hover{
   cursor: pointer;
   color: #2978B5;
}

#linkedin{
   display: flex;
   justify-content: center !important;
   margin-top: 7px !important;
}

#linkedin:hover{
   cursor: pointer;
   color: #2978B5;
}


 @media screen and (max-width: 992px) {
    #titlecard{
        width: 80%;
        height: 500px;
        border-radius: 20px;
        background: linear-gradient(0deg, rgb(31, 31, 30) 0%, rgb(59, 60, 58) 100%);
        margin: auto !important;
    }

    img{
         position: absolute;
         /*width: 40% !important;*/
         width: 20rem !important;
        border-radius: 20px;
     }

     #intro{
      position: relative;
        border-radius: 20px;
        height: 50%;
        width: 100%;
     }
     #imgcontacts{
      position: relative;
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: center !important;
        border-radius: 20px;
    
     }

     #contacts{
        bottom: 0;
        right: 30px;
        position: absolute;
        height: 90%;
        width: 50px;
        z-index: 2;
     }

     #nome{
      margin: 0px !important;
      padding-top: 25px;
      margin-top: 15px !important;
      margin-left: 15px !important;
      letter-spacing: 3px;
      font-size: 7vw;
      font-family: genovaBlackItalic;
      font-weight: 800;
      color: #2978B5;
      display: flex;
      justify-content: center !important;
    }
    
    #titolo{
      margin: 0px !important;
      margin-top: 15px !important;
      margin-left: 15px !important;
      font-family: genovaThin;
      font-weight: 0;
      font-size: 4vw;
      display: flex  ;
      justify-content: center !important;
    }
    
    #bottone{
      margin: 0px !important;
      margin-top: 15px !important;
      margin-left: 15px !important;
    }
    
    #contactme{
      color: #fefefe;
      padding: 5px;
      font-size: 2vw;
      font-family: genovaThin;
      border: 1px solid #fefefe;
      background: transparent;
      border-radius: 20px !important;
      width: 150px;
      height: 40px;
      display: none !important;
    }
   
 }




 



 