<section class="hero" id="home">
  <div class="hero-content">
    <div class="text-content">
      <h2>Ciao<span class="dot">.</span></h2>
      <h3>Sono <span class="name">Gabriel Colla</span></h3>
      <h1><span [class.typewriter]="animate">Software Engineer</span></h1>

      <div class="buttons">
        <button class="btn primary">Contattami</button>
        <button class="btn outlined" type="submit" onclick="window.open('../../../../assets/pdf/CV GABRIEL COLLA CASAGRANDE.pdf')">CV</button>
      </div>
    </div>

    <div class="image-container">
      <img src="../../../../assets/img/me.png" alt="Your photo" />
    </div>
  </div>
  <div class="social-container">
  <div class="social-icons">
    <a href="https://github.com/erGaBs" target="_blank" aria-label="GitHub">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/gabriel-colla-11296b1b3/" target="_blank" aria-label="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="mailto:colla.gabriel01@gmail.com" aria-label="Email">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
  <div class="vertical-line"></div>
</div>

</section>
