<div class="slider mt-">
    <div class="slide-track">
        <div class="slide">
            <img src="../../../../assets/img/angular.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../../assets/img/htmlcssjs.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../../assets/img/java.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../../assets/img/sql.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../../assets/img/c.png" height="100" width="250" alt="" /> 
        </div>
        <div class="slide">
            <img src="../../../../assets/img/python.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../../assets/img/bootstrap.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../../assets/img/dotnet.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../../assets/img/oracle.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../../assets/img/git.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../../assets/img/ts.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../../assets/img/office.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../../assets/img/vscode.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="../../../../assets/img/intellij.png" height="100" width="250" alt="" />
        </div>
    </div>
</div>
