.container{
    margin-top: 15px !important;
}

.esperienze{
    font-family: genovaBlack;
    font-size: 2vw;
    color: #fefefe;
    text-align: center;
    margin-bottom: 10px !important;
}

@media screen and (max-width: 992px) {
    .esperienze{
        font-family: genovaBlack;
        font-size: 4vw;
    }
  }