<div class="container">
    <p class="esperienze">{{ 'EsperienzeTitle' | translate }}</p>
    
<div class="accordion-container">
  <div
    class="accordion-item"
    *ngFor="let exp of esperienze; let i = index"
  >
    <button
      class="accordion-header"
      (click)="toggle(i)"
      [attr.aria-expanded]="apertoIndex === i"
      [attr.aria-controls]="'content-'+i"
      id="accordion-header-{{i}}"
    >
      <span class="icon material-icons">{{ exp.icona }}</span>
      <span class="title">{{ exp.titolo | translate  }}</span>
      <span class="periodo">{{ exp.periodo }}</span>
      <span class="arrow" [class.open]="apertoIndex === i">⌄</span>
    </button>
    <div
      class="accordion-content"
      [id]="'content-'+i"
      role="region"
      [attr.aria-labelledby]="'accordion-header-'+i"
      [class.open]="apertoIndex === i"
    >
      <p class="description">{{ exp.descrizione | translate  }}</p>
    </div>
  </div>
</div>


   </div>
