<div class="container">
    <p class="text-center headline textdarktheme"> Hard Skills</p>
    <br>
    <br>

    <div class="row">
        <div class="col-md-3 textdarktheme textsize">Sviluppo Web</div>
        <div class="col-md-9">

            <div class="progress1 progress-moved1">
                <div class="progress-bar1"></div>
                <div class="loader1" style="--n: 1; --f: 0;"></div>
              </div>


        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3 textdarktheme textsize">Object Oriented Languages</div>
        <div class="col-md-9">
            
            <div class="progress2 progress-moved2">
                <div class="progress-bar2"></div>
                <div class="loader2" style="--n: 1; --f: 0;"></div>
              </div>


        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3 textdarktheme textsize">Database</div>
        <div class="col-md-9">
            
            
            <div class="progress3 progress-moved3">
                <div class="progress-bar3"></div>
                <div class="loader3" style="--n: 1; --f: 0;"></div>
              </div>


        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3 textdarktheme textsize">Analisi di progetto</div>
        <div class="col-md-9">
            
            <div class="progress4 progress-moved4">
                <div class="progress-bar4"></div>
                <div class="loader4" style="--n: 1; --f: 0;"></div>
              </div>


        </div>
    </div>
</div>
<br>

