<div class="container mt-4">
    <p class="softskills">{{ 'SoftSkillsTitle' | translate }}</p>
</div>
    
<div class="skills-container">
  <div class="skill-card">{{ 'SoftSkills1' | translate }}</div>
  <div class="skill-card">{{ 'SoftSkills2' | translate }}</div>
  <div class="skill-card">{{ 'SoftSkills3' | translate }}</div>
  <div class="skill-card">{{ 'SoftSkills4' | translate }}</div>
  <div class="skill-card">{{ 'SoftSkills5' | translate }}</div>
  <div class="skill-card">{{ 'SoftSkills6' | translate }}</div>
  <div class="skill-card">{{ 'SoftSkills7' | translate }}</div>
  <div class="skill-card">{{ 'SoftSkills8' | translate }}</div>
</div>

   
