<div class="container">
    <p class="softskills">SOFT SKILLS</p>
    
    <div class="items">
        <div class="item tab">PROBLEM SOLVING</div>
        <div class="item tab">PENSIERO CRITICO</div>
        <div class="item tab">TEAMWORK</div>
        <div class="item tab">LEADERSHIP</div>
    </div>

    <div class="items">
        <div class="item tab">CREATIVITÀ</div>
        <div class="item tab">MOTIVAZIONE</div>
        <div class="item tab">AUTODISCIPLINA</div>
        <div class="item tab">DEDIZIONE</div>
    </div>

   </div>
   
