<!--image card layout start-->
<div class="container">
    <!--image row start-->
    <div class="row">
      <!--image card start-->
      <div class="image">
        <img src="../../../../assets/images/Progetti/sitoTrePassi.png" alt="">
        <div class="details">
          <h2>Gioielleria <span>Tre Passi</span></h2>
          <p>Sito vetrina per la gioielleria Tre Passi a Genova Pegli, realizzato in Joomla</p>
          <div class="more">
            <div class="icon-links">
              <a href="www.gioielleriatrepassi.it"><i class="fas fa-eye"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="../../../../assets/images/Progetti/placeholderprogetto.png" alt="">
        <div class="details">
          <h2>Paranoia's <span>Game</span></h2>
          <p>Gioco Horror First Person realizzato in Unreal Engine 4, ancora in sviluppo</p>
          <div class="more">
            <div class="icon-links">
              <a href="https://github.com/ParanoiaGame-v1-0/Paranoia"><i class="fas fa-eye"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="../../../../assets/images/Progetti/placeholderprogetto.png" alt="">
        <div class="details">
          <h2>Easy <span>Ticketing</span></h2>
          <p>Sistema di Ticketing e segnalazione di malfunzionamenti realizzato come progetto personale per imparare un nuovo Framework</p>
          <div class="more">
            <div class="icon-links">
              <a href=""><i class="fas fa-eye"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
    </div>
    <!--image row end-->
    <!--image row start-->
    <div class="row">
      <!--image card start-->
      <div class="image">
        <img src="../../../../assets/images/Progetti/placeholderprogetto.png" alt="">
        <div class="details">
          <h2>Coming <span>Soon</span></h2>
          <p></p>
          <div class="more">
            <div class="icon-links">
              <a href=""><i class="fas fa-eye"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="../../../../assets/images/Progetti/placeholderprogetto.png" alt="">
        <div class="details">
          <h2>Coming <span>Soon</span></h2>
          <p></p>
          <div class="more">
            <div class="icon-links">
              <a href=""><i class="fas fa-eye"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="../../../../assets/images/Progetti/placeholderprogetto.png" alt="">
        <div class="details">
          <h2>Coming <span>Soon</span></h2>
          <p></p>
          <div class="more">
            <div class="icon-links">
              <a href=""><i class="fas fa-eye"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
    </div>
    <!--image row end-->
  </div>
  <!--image card layout end-->