<div class="container">
    <br>
    <div class="row">
        <div class="col-md-8"><p class="textdarktheme text-center size">
            prima
        </p></div>
        <div class="col-md-4">ciao</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">ciao</div>
        <div class="col-md-8"><p class="textdarktheme text-center size">
            prima
        </p></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-8"><p class="textdarktheme text-center size">
            prima
        </p></div>
        <div class="col-md-4">ciao</div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">ciao</div>
        <div class="col-md-8"><p class="textdarktheme text-center size">
            prima
        </p></div>
    </div>
    <br>
</div>
