<div class="container">
    <br>
    <div class="row">
        <div class="col-md-8 textdiv">
            <h1 class="textdarktheme text-center textdarkthemecolor">Percorso Scolastico</h1>
            <p class="textdarktheme text-center size">
            Il mio percorso di studi finisce all'Istituto Italo Calvino, dove mi sono diplomato nel ramo Informatica. Questa scuola mi ha aiutato molto a sviluppare tutte le capacità che fino ad oggi ed in futuro mi serviranno.
        </p></div>
        <div class="col-md-4 imgdiv"><img src="../../../../assets/images/school.png"></div>
    </div>
    <br>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-md-4 imgdiv"><img src="../../../../assets/images/testing.png"></div>
        <div class="col-md-8 textdiv">
            <h1 class="textdarktheme text-center textdarkthemecolor">Prima Esperienza Lavorativa</h1>
            <p class="textdarktheme text-center size">
            La mia prima esperienza lavorativa è stata svolta come Tester, il mio ruolo principale per 6 mesi è stato "trovare il punto di rottura" di qualsiasi applicativo mi venisse consegnato in mano, una mansione non proprio adatta a me (mi ritengo più abile nel creare che nel distruggere), ma che mi ha insegnato molto.
        </p></div>
    </div>
    <br>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-md-8 textdiv">
            <h1 class="textdarktheme text-center textdarkthemecolor">Primo lavoro da Programmatore</h1>
            <p class="textdarktheme text-center size">
            6 mesi dopo la prima esperienza venni assunto come sviluppatore Full-Stack, per un anno ho fatto bug-fixing e sviluppato un applicativo intero utilizzando linguaggi e framework completamente nuovi. L'applicativo che ho costruito è stato sviluppato utilizzando Angular8 e .NET, due framework che al momento si piazzano al primo posto tra i miei preferiti, difatti il portfolio sul quale siete è sviluppato in questi linguaggi. Siamo sinceri, con Wordpress sono capaci tutti ;)
        </p></div>
        <div class="col-md-4 imgdiv"><img src="../../../../assets/images/angular.png"></div>
    </div>
    <br>
    <hr class="rounded">
    <br>
    <div class="row">
        <div class="col-md-4 imgdiv"><img src="../../../../assets/images/java.png"></div>
        <div class="col-md-8 textdiv">
            <h1 class="textdarktheme text-center textdarkthemecolor">Software Engineer</h1>
            <p class="textdarktheme text-center size">
            Finita la mia esperienza da sviluppatore Full-Stack mi è stata fatta un'offerta dalla mia attuale azienda, dove ricopro il ruolo di Software Engineer, ovvero un Full-Stack developer che però riesce anche ad effettuare efficacemente analisi progettuali e all'occorrenza, formare persone.
        </p></div>
    </div>
    <br>
</div>


